.col2 {
    background-color: deeppink;
    width: 50%;
    margin: 1%;
    margin-left: 0%;
    margin-right: 0%;
    float:left;
    padding: 1%;
    box-sizing: border-box;
}

.col3{
    background-color: deeppink;
    width: 33.33%;
    margin: 1%;
    margin-left: 0%;
    margin-right: 0%;
    float:left;
    padding: 1%;
    box-sizing:border-box;
}
.col5{
    background-color: deeppink;
    width: 20%;
    margin: 1%;
    margin-left: 0%;
    margin-right: 0%;
    float:left;
    padding: 1%;
    box-sizing:border-box;
}


nav ul{
   margin: auto;
   width: 450px;
   background: cyan; 
   padding: 0;
}

nav ul li{
    text-align: center;
    width: 33.33%;
    background: lightpink;
    list-style: none;
    padding: 10px 0;
    float: left;
}

nav ul li:hover{
    background: #e44dfe;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
}

/*
Este modulo permite a la pagina web actuar de acuerdo 
al tamano de la pantalla
*/
@media screen and (max-width:768px) {
    .container, nav ul, .col2, .col3, .col5{
       width: 100%;
    }
}